{% extends "public/base.html" %}
{% load static %}
{% block title %} Services | Dental Clinic {% endblock %}
{% block content %}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% if site_content.page_banner_background %}{{ site_content.page_banner_background.url }}{% else %}{% static 'website/images/bg_1.jpg' %}{% endif %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Our Treatments &amp; Services</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href=" {% url 'home' %} ">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Services <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-services">
    	<div class="container">
        <div class="row">
        	<div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block">
              <div class="img w-100" style="background-image: url('{% if site_content.service_1_image %}{{ site_content.service_1_image.url }}{% else %}{% static 'website/images/dept-1.jpg' %}{% endif %}');"></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">{{ site_content.service_1_title }}</h3>
                <p>{{ site_content.service_1_summary }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block">
              <div class="img w-100" style="background-image: url('{% if site_content.service_2_image %}{{ site_content.service_2_image.url }}{% else %}{% static 'website/images/dept-2.jpg' %}{% endif %}');"></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">{{ site_content.service_2_title }}</h3>
                <p>{{ site_content.service_2_summary }}</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block">
              <div class="img w-100" style="background-image: url('{% if site_content.service_3_image %}{{ site_content.service_3_image.url }}{% else %}{% static 'website/images/dept-3.jpg' %}{% endif %}');"></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">{{ site_content.service_3_title }}</h3>
                <p>{{ site_content.service_3_summary }}</p>
              </div>
            </div>      
          </div>
					
					<div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block">
              <div class="img w-100" style="background-image: url('{% if site_content.service_4_image %}{{ site_content.service_4_image.url }}{% else %}{% static 'website/images/dept-4.jpg' %}{% endif %}');"></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">{{ site_content.service_4_title }}</h3>
                <p>{{ site_content.service_4_summary }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block">
              <div class="img w-100" style="background-image: url('{% if site_content.service_5_image %}{{ site_content.service_5_image.url }}{% else %}{% static 'website/images/dept-5.jpg' %}{% endif %}');"></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">{{ site_content.service_5_title }}</h3>
                <p>{{ site_content.service_5_summary }}</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block">
              <div class="img w-100" style="background-image: url('{% if site_content.service_6_image %}{{ site_content.service_6_image.url }}{% else %}{% static 'website/images/dept-6.jpg' %}{% endif %}');"></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">{{ site_content.service_6_title }}</h3>
                <p>{{ site_content.service_6_summary }}</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block">
              <div class="img w-100" style="background-image: url('{% if site_content.service_7_image %}{{ site_content.service_7_image.url }}{% else %}{% static 'website/images/dept-7.jpg' %}{% endif %}');"></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">{{ site_content.service_7_title }}</h3>
                <p>{{ site_content.service_7_summary }}</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block">
              <div class="img w-100" style="background-image: url('{% if site_content.service_8_image %}{{ site_content.service_8_image.url }}{% else %}{% static 'website/images/dept-8.jpg' %}{% endif %}');"></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">{{ site_content.service_8_title }}</h3>
                <p>{{ site_content.service_8_summary }}</p>
              </div>
            </div>      
          </div>
        </div>
    	</div>
    </section>
		
{% endblock %}
